{% extends "layout.html" %}

{% block title %}TweetAdda{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="text-center">Welcome to TweetAdda</h1>

  <h2 class="mt-4 text-center">
    {% if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}
  </h2>

  <form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
   <a href="{% url 'tweet_list' %}" class="btn btn-primary mt-4">Back to List</a>
</div>
{% endblock %}
